.container {
  position: relative;
  border-radius: 10px;
  border: 2px solid rgba(7, 194, 237, 0.5);
}

.container img {
  display: block;
  width: 100%;
  opacity: 0.9;
  border-radius: 10px;
}

.container img:hover {
  cursor: pointer;
}
.container span {
  width: 100%;
  font-size: calc(0.5rem + 1vw);
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-inline: 5px;
}
