.inputContainer {
  display: flex;
  width: 95%;
  border-radius: 1rem;
  background: linear-gradient(135deg, #23272f 0%, #14161a 100%);
  box-shadow:
    0px 0px 20px #24ee09af,
    -10px -10px 40px #383e4b;
  padding: 0.5rem;
  flex-direction: column;
  position: relative;
}
.inputContainer .charId {
  border-radius: 0.8rem;
  background: #23272f;
  box-shadow:
    inset 5px 5px 10px #0e1013,
    inset -5px -5px 10px #383e4b,
    0px 0px 100px rgba(255, 212, 59, 0),
    0px 0px 100px rgba(255, 102, 0, 0);
  width: 100%;
  padding: 1rem;
  border: none;
  border: 1px solid transparent;
  color: white;
  transition: all 0.2s ease-in-out;
}
.inputContainer .charId:focus {
  border: 1px solid #eeede9;
  outline: none;
  box-shadow:
    inset 0px 0px 10px rgba(0, 204, 255, 0.247),
    inset 0px 0px 10px rgba(59, 199, 255, 0.404),
    0px 0px 100px rgba(59, 199, 255, 0.329),
    0px 0px 100px rgba(255, 102, 0, 0.5);
}

.containerResults {
  position: absolute;
  top: 73px;
  left: 2.5%;
  width: 100%;
  z-index: 2;
  display: flex;
  width: 95%;
  border-radius: 1rem;
  background: linear-gradient(135deg, #23272f 0%, #14161a 100%);
  box-shadow:
    0px 0px 10px #24ee09af,
    -10px -10px 40px #383e4b;
  flex-direction: column;
}
