@import url('https://fonts.googleapis.com/css2?family=Schoolbell&display=swap');

:root {
  --dark-cyan: #02b1c8;
  --cyan: #00e1ff;
  --green: #7ffa67;
  --white: #fcfcfc;
  --black: #111;
  --darkest-grey: #151515;
  --dark-grey: #222;
  --grey: #333;
}

.headerApp {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.title {
  font-family: 'Schoolbell', cursive;
  font-weight: 400;
  font-style: normal;
  font-size: calc(3rem + 2.7vw);
  line-height: 1;
  color: var(--dark-cyan);
  margin: 1.25rem 0 1.5625rem;
  text-shadow:
    0.02em 0.02em 0.02em var(--green),
    -0.02em -0.02em 0.02em var(--green),
    0 0 0.2em var(--green);
}

.title span {
  font-size: 0.5em;
  margin: 0 -0.5ch;
  vertical-align: middle;
  padding-inline: 25px;
}
.containerItems {
  display: flex;
  width: 100%;
  justify-content: center;
}
.containerFilters {
  position: relative;
  padding-top: 15px;
}

.containerFilters .containerSelects {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.containerFilters .containerSelects select {
  background: rgba(107, 238, 0, 0.774);
  width: 16%;
  color: rgba(255, 255, 255, 0.945);
  border-radius: 0 8rem;
  text-align: center;
  font-size: calc(0.5rem + 1vw);
  font-family: 'Schoolbell', cursive;
}
.containerFilters .containerSelects option {
  color: rgba(47, 0, 255, 0.842);
  font-size: 23px;
}
.containerFilters .containerSelects button {
  background: rgba(107, 238, 0, 0.774);
  width: 16%;
  color: rgba(255, 255, 255, 0.945);
  border-radius: 1rem;
  text-align: center;
  font-size: calc(0.5rem + 1vw);
  font-family: 'Schoolbell', cursive;
}
